$nx-icons: (
    arrow-up: '\e900',
    arrow-down: '\e901',
    arrow-left: '\e902',
    arrow-right: '\e903',
    arrow-up-slim: '\e904',
    arrow-down-slim: '\e905',
    arrow-left-slim: '\e906',
    arrow-right-slim: '\e907',
    paperclip: '\e908',
    chevron-up: '\e909',
    chevron-down: '\e90a',
    chevron-left: '\e90b',
    chevron-right: '\e90c',
    bookmark-o: '\e90d',
    calendar: '\e90e',
    arrow-upload: '\e90f',
    phone-o: '\e910',
    check: '\e911',
    check-circle: '\e912',
    close: '\e913',
    close-circle: '\e914',
    credit-card-o: '\e915',
    trash: '\e916',
    download: '\e917',
    exclamation-circle: '\e918',
    exclamation-circle-o: '\e919',
    exclamation-triangle: '\e91a',
    file: '\e91b',
    bolt: '\e91c',
    bolt-o: '\e91d',
    ellipsis-v: '\e91e',
    ellipsis-h: '\e91f',
    info-circle: '\e920',
    info-circle-o: '\e921',
    list: '\e922',
    location: '\e923',
    lock: '\e924',
    lock-o: '\e925',
    mail: '\e926',
    mail-o: '\e927',
    bars: '\e928',
    telegram: '\e929',
    user: '\e92a',
    user-o: '\e92b',
    user-business: '\e92c',
    user-business-o: '\e92d',
    users: '\e92e',
    users-o: '\e92f',
    print-o: '\e930',
    search: '\e931',
    setting: '\e932',
    share: '\e933',
    facebook: '\e934',
    google-plus: '\e935',
    twitter: '\e936',
    instagram: '\e937',
    facebook-circle: '\e938',
    google-circle: '\e939',
    twitter-circle: '\e93a',
    instagram-circle: '\e93b',
    mail-circle: '\e93c',
    youtube-circle: '\e93d',
    star: '\e93e',
    star-half-full: '\e93f',
    star-o: '\e940',
    file-text: '\e941',
    microphone: '\e942',
    clock: '\e943',
    clock-o: '\e944',
    product-a-z: '\e945',
    product-animal-cat: '\e946',
    product-animal-dog: '\e947',
    product-animal-horse: '\e948',
    product-animal-hunting-deer: '\e949',
    product-animal-paw: '\e94a',
    product-arrow-direction-path: '\e94b',
    product-at-sign: '\e94c',
    product-balance-scale: '\e94d',
    product-bank-monument-info: '\e94e',
    product-battery: '\e94f',
    speech-bubble-o: '\e950',
    arrow-first: '\e951',
    arrow-last: '\e952',
    plus: '\e953',
    minus: '\e954',
    product-bed: '\e955',
    product-bike: '\e956',
    product-board-paper-note: '\e957',
    product-book: '\e958',
    product-brain: '\e959',
    product-broken-glass: '\e95a',
    product-broken-window: '\e95b',
    product-broom-clean: '\e95c',
    product-buggy: '\e95d',
    product-building: '\e95e',
    product-bullhorn: '\e95f',
    product-calculator: '\e960',
    product-calendar: '\e961',
    product-camera: '\e962',
    product-candle: '\e963',
    product-car-accident: '\e964',
    product-car-front: '\e965',
    product-car-small: '\e966',
    product-car-tacho-fast: '\e967',
    product-car-trailer: '\e968',
    product-car: '\e969',
    product-caravan: '\e96a',
    product-certificate: '\e96b',
    product-check-paper: '\e96c',
    product-check: '\e96d',
    product-city: '\e96e',
    product-cleanup-trash: '\e96f',
    product-clock: '\e970',
    product-cloud: '\e971',
    product-cog-wheel: '\e972',
    product-cog-wheels: '\e973',
    product-coins-money: '\e974',
    product-communication: '\e975',
    product-computer: '\e976',
    product-couch: '\e977',
    product-credit-card: '\e978',
    product-cross-triangle: '\e979',
    product-cross: '\e97a',
    product-danger: '\e97b',
    product-data-exchange: '\e97c',
    product-diversity: '\e97d',
    product-dollar: '\e97e',
    product-door: '\e97f',
    product-electric-plug: '\e980',
    product-excavator: '\e981',
    product-expensive-objects-jewelery: '\e982',
    product-eye-overview-sight: '\e983',
    product-family: '\e984',
    product-folder: '\e985',
    product-guide-navigation: '\e986',
    product-hand-click-info: '\e987',
    product-hand-finger-pointing: '\e988',
    product-hand-get-money: '\e989',
    product-hand-thumbs-up: '\e98a',
    product-headset-support: '\e98b',
    product-health-bag-doctor: '\e98c',
    product-health-stethoscope: '\e98d',
    product-heart-employee-engagement: '\e98e',
    product-heart: '\e98f',
    product-helmet: '\e990',
    product-help-information: '\e991',
    product-help-question: '\e992',
    product-help: '\e993',
    product-home-office: '\e994',
    product-hourglass: '\e995',
    product-house-broken-window: '\e996',
    product-house-fire: '\e997',
    product-house-important: '\e998',
    product-house-money: '\e999',
    product-house-safe: '\e99a',
    product-house-water-damage: '\e99b',
    product-house: '\e99c',
    product-important-info: '\e99d',
    product-info-sheet: '\e99e',
    product-injury-plaster: '\e99f',
    product-job-processes: '\e9a0',
    product-law: '\e9a1',
    product-light-bulb-idea: '\e9a2',
    product-locate-position: '\e9a3',
    product-lock: '\e9a4',
    product-mail: '\e9a5',
    product-money-banknote: '\e9a6',
    product-money-exchange: '\e9a7',
    product-money-suitcase: '\e9a8',
    product-motorcycle: '\e9a9',
    product-mouse: '\e9aa',
    product-newspaper: '\e9ab',
    product-notebook: '\e9ac',
    product-office-chair: '\e9ad',
    product-pages-documents: '\e9ae',
    product-paper-document: '\e9af',
    product-paper-lock: '\e9b0',
    product-partner-handshake: '\e9b1',
    product-pen: '\e9b2',
    product-pension-rocker-chair: '\e9b3',
    product-people-collaboration: '\e9b4',
    product-people-communication-external: '\e9b5',
    product-people-communication-internal: '\e9b6',
    product-people-connect: '\e9b7',
    product-person-heart-people-love: '\e9b8',
    product-person: '\e9b9',
    product-phone-call: '\e9ba',
    product-plane: '\e9bb',
    product-plus-minus: '\e9bc',
    product-plus: '\e9bd',
    product-present: '\e9be',
    product-puzzle-pieces: '\e9bf',
    product-puzzle: '\e9c0',
    product-radio: '\e9c1',
    product-repair: '\e9c2',
    product-rewards: '\e9c3',
    product-rocket: '\e9c4',
    product-save: '\e9c5',
    product-search-document: '\e9c6',
    product-search: '\e9c7',
    product-share-chart: '\e9c8',
    product-share-graph-arrow-down: '\e9c9',
    product-share-graph-arrow-up: '\e9ca',
    product-sharing-connect: '\e9cb',
    product-shield-hand: '\e9cc',
    product-shield: '\e9cd',
    product-shopping-cart: '\e9ce',
    product-smartphone: '\e9cf',
    product-Soccer: '\e9d0',
    product-social-media-facebook-messenger: '\e9d1',
    product-social-media-facebook: '\e9d2',
    product-social-media-linkedin: '\e9d3',
    product-social-media-twitter: '\e9d4',
    product-social-media-whatsapp: '\e9d5',
    product-sport-sailing-ship: '\e9d6',
    product-sport-trainer: '\e9d7',
    product-sports-car: '\e9d8',
    product-sports: '\e9d9',
    product-star-event: '\e9da',
    product-stars-sky-galaxy: '\e9db',
    product-steering-wheel: '\e9dc',
    product-stock-data-graph: '\e9dd',
    product-stove-cooker: '\e9de',
    product-strategy: '\e9df',
    product-student-school-graduation: '\e9e0',
    product-survey: '\e9e1',
    product-SUV-car: '\e9e2',
    product-tablet-ipad-apps: '\e9e3',
    product-target: '\e9e4',
    product-thief: '\e9e5',
    product-to-do-list: '\e9e6',
    product-tooth: '\e9e7',
    product-tv: '\e9e8',
    product-umbrella-protection: '\e9e9',
    product-video-camera: '\e9ea',
    product-wall-balance: '\e9eb',
    product-washer: '\e9ec',
    product-water-tap: '\e9ed',
    product-watering-can: '\e9ee',
    product-wheelchair: '\e9ef',
    product-world-globe: '\e9f0',
    product-world-wide-we: '\e9f1',
    arrow-download: '\e9f2',
    phone: '\e9f3',
    youtube: '\e9f4',
    whatsapp: '\e9f5',
    youtube-circle-play: '\e9f6',
    linkedin-circle: '\e9f7',
    file-document: '\e9f8',
    eps-text: '\e9f9',
    file-flag: '\e9fa',
    img-text: '\e9fb',
    play: '\e9fc',
    dot: '\e9fd',
    jpg-text: '\e9fe',
    mp3-text: '\e9ff',
    pdf-text: '\ea00',
    pod-text: '\ea01',
    ppt-text: '\ea02',
    tiff-text: '\ea03',
    txt-text: '\ea04',
    vid-text: '\ea05',
    xls-text: '\ea06',
    eps: '\ea07',
    img: '\ea08',
    jpg: '\ea09',
    mp3: '\ea0a',
    pdf: '\ea0b',
    pod: '\ea0c',
    ppt: '\ea0d',
    tiff: '\ea0e',
    txt: '\ea0f',
    vid: '\ea10',
    xls: '\ea11',
    trash-o: '\ea12',
    bell-o: '\ea13',
    bell-off-o: '\ea14',
    bell-off: '\ea15',
    bell: '\ea16',
    bookmark: '\ea17',
    calendar-date-check-o: '\ea18',
    calendar-date-check: '\ea19',
    calendar-default: '\ea20',
    calendar-reminder-o: '\ea21',
    calendar-reminder: '\ea22',
    chat-o: '\ea23',
    chat: '\ea24',
    chevron-down-small: '\ea25',
    chevron-left-circle-o: '\ea26',
    chevron-left-circle: '\ea27',
    chevron-left-small: '\ea28',
    chevron-right-circle-o: '\ea29',
    chevron-right-circle: '\ea30',
    chevron-right-small: '\ea31',
    chevron-up-small: '\ea32',
    close-circle-o: '\ea33',
    credit-card: '\ea34',
    duplicate: '\ea35',
    e-mail-read-o: '\ea36',
    e-mail-read: '\ea37',
    edit: '\ea38',
    exclamation-triangle-o: '\ea39',
    export-and-share: '\ea40',
    filter: '\ea41',
    in-progress: '\ea42',
    launch: '\ea43',
    location-o: '\ea44',
    lock-unlock-o: '\ea45',
    lock-unlock: '\ea46',
    microphone-default: '\ea47',
    microphone-mute-o: '\ea48',
    microphone-mute: '\ea49',
    minus-circle-o: '\ea50',
    minus-circle: '\ea51',
    password-hide-o: '\ea52',
    password-hide: '\ea53',
    password-show-o: '\ea54',
    password-show: '\ea55',
    pause: '\ea56',
    pen: '\ea57',
    phone-chat-o: '\ea58',
    phone-chat: '\ea59',
    plus-circle-o: '\ea60',
    plus-circle: '\ea61',
    popout: '\ea62',
    print: '\ea63',
    refresh: '\ea64',
    sentiment-dissatisfied: '\ea65',
    sentiment-neutral: '\ea66',
    sentiment-satisfied: '\ea67',
    sentiment-very-dissatisfied: '\ea68',
    sentiment-very-satisfied: '\ea69',
    set-timer: '\ea70',
    setting-o: '\ea71',
    slider-graph-o: '\ea72',
    speech-bubble-dots-o: '\ea73',
    speech-bubble-dots: '\ea74',
    speech-bubble: '\ea75',
    card-o: '\ea76',
    cobrowsing-o: '\ea77',
    linkedin: '\eb02',
    messenger-circle: '\eb03',
    messenger: '\eb04',
    whatsapp-circle: '\eb05',
    xing-circle: '\eb07',
    xing: '\eb08',
    product-bereaved-dependent-pension: '\eb09',
    product-car-mobility: '\eb10',
    product-care-insurance: '\eb11',
    product-fortune: '\eb12',
    product-health: '\eb13',
    product-income-precaution: '\eb14',
    product-mobility: '\eb15',
    product-pet-health-insurance: '\eb16',
    product-pet-owner-liability: '\eb17',
    product-precaution: '\eb18',
    product-private-pension: '\eb19',
    product-travel: '\eb20',
    save-o: '\eb21',
    back: '\eb22',
    product-apartment-building: '\eb23',
    product-garage: '\eb24',
    product-hydro-power: '\eb25',
    product-keys: '\eb26',
    product-laptop: '\eb27',
    product-nature-leaf: '\eb28',
    product-power-pylon: '\eb29',
    product-solar-power-modules: '\eb30',
    product-telematic-car-front: '\eb31',
    product-telematic-car-side: '\eb32',
    product-thermal-power-plant: '\eb33',
    product-thermometer: '\eb34',
    product-thunderstorm: '\eb35',
    product-tires-wheel: '\eb36',
    product-truck: '\eb37',
    product-voice-of-the-customer: '\eb38',
    product-wind-turbine-offshore: '\eb39',
    product-wind-turbine-onshore: '\eb40',
    sidebar-left: '\eb41',
    sidebar-right: '\eb42',
    doc: '\eb44',
    doc-text: '\eb45',
    product-locate-position-f: '\eb46',
    product-danger-f: '\eb47',
    product-coins-money-f: '\eb48',
    product-check-paper-f: '\eb49',
    speaker-off-o: '\eb50',
    speaker-off: '\eb51',
    speaker-on-o: '\eb52',
    speaker-on: '\eb53',
    help-question-f: '\eb54',
    voice-of-the-customer-f: '\eb55',
    product-blog: '\eb56',
    product-fire: '\eb57',
    product-fork-lift-truck: '\eb58',
    product-music: '\eb59',
    product-podcast: '\eb60',
    laptop-cog-wheel: '\eb61',
    board-share-graph: '\eb62',
    trees: '\eb63',
    hand-tray: '\eb64',
    tv-world-globe: '\eb65',
    helmet-construction: '\eb66',
    manager: '\eb67',
    tractor: '\eb68',
    skyscraper: '\eb69',
    hand-cog-wheel: '\eb70',
    fountain-pen: '\eb71',
    certificate-papers: '\eb72',
    grapes: '\eb73',
    product-media: '\eb74',
    product-broken-mirror: '\eb75',
    product-compass: '\eb76',
    product-health-paw: '\eb77',
    product-law-internet: '\eb78',
    product-law-job: '\eb79',
    product-law-key: '\eb80',
    product-law-traffic: '\eb81',
    product-legal-protection: '\eb82',
    product-oil-tank: '\eb83',
    product-shield-house: '\eb85',
    product-shield-key: '\eb86',
    product-shield-paw: '\eb87',
    chatbot-default-o: '\eb88',
    chatbot-joy-o: '\eb89',
    chatbot-slightsmile-o: '\eb90',
    chatbot-think-o: '\eb91',
    chatbot-thrilled-o: '\eb92',
    product-car-accident-abroad: '\eb93',
    switch: '\eb94',
    applauncher: '\eb95',
    help-o: '\eb96',
    globe: '\eb97',
    help: '\eb98',
    qr-code: '\eb99',
    smartphone-o: '\ec01',
    smartphone: '\ec02',
    product-security-inspector: '\ec03',
    car-o: '\ec04',
    cookie-manager-o: '\ec05',
    cookie-manager: '\ec06',
    policy-processing-01: '\ec07',
    policy-processing-02: '\ec08',
    policy-processing-03: '\ec09',
    home: '\ec10',
    move: '\ec11',
    range: '\ec12',
    side-panel-both-sides: '\ec13',
    side-panel-left: '\ec14',
    side-panel-right: '\ec15',
    product-adaptive-cruise-control: '\ec16',
    product-autonomous-emergency-braking-system: '\ec17',
    product-blind-spot-monitoring: '\ec18',
    product-cup: '\ec19',
    product-lane-assist: '\ec20',
    product-restaurant: '\ec21',
    product-shield-check: '\ec22',
    add-column-after: '\ec27',
    add-column-before: '\ec28',
    add-row-after: '\ec29',
    add-row-before: '\ec30',
    add-table: '\ec31',
    apartment-building-small: '\ec32',
    archive: '\ec33',
    avi-text: '\ec34',
    avi: '\ec35',
    bmp-text: '\ec36',
    bmp: '\ec37',
    calendar-delete-date-o: '\ec38',
    calendar-delete-date: '\ec39',
    product-car-truck: '\ec40',
    product-chat-avatar-man-1: '\ec41',
    product-chat-avatar-man-2: '\ec42',
    product-chat-avatar-man-3: '\ec43',
    product-chat-avatar-man-4: '\ec44',
    product-chat-avatar-man-5: '\ec45',
    product-chat-avatar-man-6: '\ec46',
    product-chat-avatar-man-7: '\ec47',
    product-chat-avatar-neutral-1: '\ec48',
    product-chat-avatar-neutral-2: '\ec49',
    product-chat-avatar-neutral-3: '\ec50',
    product-chat-avatar-woman-1: '\ec51',
    product-chat-avatar-woman-2: '\ec52',
    product-chat-avatar-woman-3: '\ec53',
    product-chat-avatar-woman-4: '\ec54',
    product-chat-avatar-woman-5: '\ec55',
    product-chat-avatar-woman-6: '\ec56',
    product-chat-avatar-woman-7: '\ec57',
    check-circle-unchecked: '\ec58',
    delete-column: '\ec60',
    delete-row: '\ec61',
    delete-table: '\ec62',
    divider-line: '\ec63',
    docx-text: '\ec64',
    docx: '\ec65',
    eml-text: '\ec66',
    eml: '\ec67',
    flv-text: '\ec68',
    flv: '\ec69',
    hand-click-request: '\ec70',
    hand-thumbs-down: '\ec71',
    hand-thumbs-up: '\ec72',
    hcp-text: '\ec73',
    hcp: '\ec74',
    product-house-storm: '\ec75',
    image: '\ec76',
    link: '\ec77',
    list-numbers: '\ec78',
    m4p-text: '\ec79',
    m4p: '\ec80',
    m4v-text: '\ec81',
    m4v: '\ec82',
    mail-read-o: '\ec83',
    mail-read: '\ec84',
    minimize: '\ec85',
    mov-text: '\ec86',
    mov: '\ec87',
    mp2-text: '\ec88',
    mp2: '\ec89',
    mp4-text: '\ec90',
    mp4: '\ec91',
    mpe-text: '\ec92',
    mpe: '\ec93',
    mpg-text: '\ec94',
    mpg: '\ec95',
    mpv-text: '\ec96',
    mpv: '\ec97',
    msg-text: '\ec98',
    msg: '\ec99',
    ogg-text: '\ed01',
    ogg: '\ed02',
    png-text: '\ed03',
    png: '\ed04',
    qt-text: '\ed05',
    qt: '\ed06',
    quote: '\ed07',
    rtf-text: '\ed08',
    rtf: '\ed09',
    share-o: '\ed10',
    shield-o: '\ed11',
    shield: '\ed12',
    statistics-data-graph-o: '\ed13',
    statistics-data-graph: '\ed14',
    swf-text: '\ed15',
    swf: '\ed16',
    text-alignment-center: '\ed17',
    text-alignment-indent-less: '\ed18',
    text-alignment-indent-more: '\ed19',
    text-alignment-justified: '\ed20',
    text-alignment-left: '\ed21',
    text-alignment-right: '\ed22',
    text-formatting-bold: '\ed23',
    text-formatting-clear-formatting: '\ed24',
    text-formatting-color: '\ed25',
    text-formatting-cursive: '\ed26',
    text-formatting-glyph: '\ed27',
    text-formatting-overarching: '\ed28',
    text-formatting-size: '\ed29',
    text-formatting-strikethrough: '\ed30',
    text-formatting-underlined: '\ed31',
    undo: '\ed32',
    unlink: '\ed33',
    wmv-text: '\ed34',
    wmv: '\ed35',
    xlsx-text: '\ed36',
    xlsx: '\ed37',
    xml-text: '\ed38',
    xml: '\ed39',
    zip-text: '\ed40',
    zip: '\ed41',
    redo: '\ed42',
    x: '\ed43',
    x-circle: '\ed44',
    product-house-hail: '\ed45',
    product-accompanied-driving: '\ed46',
    product-broken-car-window: '\ed47',
    product-caravan-and-motorcycle: '\ed48',
    product-driver-protection: '\ed49',
    product-gap-coverage: '\ed50',
    product-gap-coverage-b: '\ed51',
    product-new-and-purchase-price-compensation: '\ed52',
    product-oldtimer: '\ed53',
    product-oldtimer-collection: '\ed54',
    product-oldtimer-garage: '\ed55',
    product-own-damage-coverage: '\ed56',
    product-scooter: '\ed57',
    product-shield-coins: '\ed58',
    product-shield-filled: '\ed59',
    product-shield-half-filled: '\ed60',
    product-shield-money: '\ed61',
    product-value-reduction: '\ed62',
    product-value-retention-guarantee: '\ed63',
    product-landlord: '\ed64',
    product-social-media-x: '\ed65',
    csv: '\ed66',
    csv_text: '\ed67',
    add-note: '\ed68',
    color-picker: '\ed69',
    columns: '\ed70',
    cut: '\ed71',
    double-chevron-small: '\ed72',
    file-check: '\ed73',
    heart: '\ed74',
    heart-o: '\ed75',
    maximize: '\ed76',
    collapse-content: '\ed77',
    not-allowed: '\ed78',
    note: '\ed79',
    paste: '\ed80',
    pin: '\ed81',
    pivot-table: '\ed82',
    aggregation: '\ed83',
    check-circle-o: '\ed84',
    group: '\ed85',
    interpunct-o: '\ed86',
    product-buildings-and-content: '\ed87',
    product-heart-with-hands: '\ed88',
    product-tenant: '\ed89',
    onsite-charge: '\ed90',
    file-arrow: '\ed91',
    mark-all-as-read: '\ed92',
    shield-warning: '\ed93',
    tenant: '\ed94',
    product-bridge: '\ed95',
    product-car-key: '\ed96',
    product-car-towed: '\ed97',
    product-chimney: '\ed98',
    product-door-closed: '\ed99',
    product-fence: '\ee01',
    product-house-lightning: '\ee02',
    product-house-roof-damage: '\ee03',
    product-icicle-melting: '\ee04',
    product-ladder: '\ee05',
    product-lock-key: '\ee06',
    product-shield-car: '\ee07',
    product-shield-cross: '\ee08',
    product-shield-screwdriver: '\ee09',
    product-tree-snapped: '\ee09',
    product-tree-wind: '\ee10',
    product-snow-and-water: '\ee11',
    product-tree: '\ee12',
    product-window-closed: '\ee13',
    product-energy: '\ee14',
    product-letter-a: '\ee15',
    product-letter-b: '\ee16',
    product-reminder: '\ee17',
    product-sun: '\ee18',
    product-volcano-eruption: '\ee19',
    product-vulcano: '\ee20',
    product-water-drops: '\ee21',
    product-water: '\ee22',
    product-window-storm-shutters: '\ee23',
    shield-warning-o: '\ee24',
    get-a-quote: '\ee25'
);
